/*1- global css */

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;1,700&display=swap');
body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    font-size: 1rem;
    font-weight: 400;
    background-color: #fff;
    color: #212529;
}

h1,
h2,
h3,
h4 {
    font-weight: 700;
}


/* Main Css */

.bg-info {
    position: fixed;
    width: 100%;
    z-index: 1;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.05) !important;
    padding: 10px 0;
}

.btn-style1 {
    color: #fff;
    background-color: rgb(240, 102, 12);
    padding: .3rem 1.2rem !important;
}

.btn-style1:hover {
    background-color: rgb(240, 102, 12, 0.83);
}

.banner {
    margin-top: 60px;
    float: left;
}

#about-section {
    float: left;
    padding: 60px 0;
    width: 100%
}

#ventures-section {
    background-color: rgb(242, 243, 247);
    float: left;
    width: 100%;
    padding: 60px 0;
}

.card-image {
    padding: 10px 0 5px 10px;
}

.card-image img {
    width: 50px;
    height: 50px;
}

.projects-section {
    float: left;
    width: 100%;
    padding: 60px 0;
}

.project-names {
    color: rgb(240, 102, 12);
}

.footer-border {
    float: left;
    width: 100%;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    padding: 60px 0;
}

.footer-bodys {
    margin-bottom: 2rem;
}

.footer-bodys a {
    color: #000 !important;
}

.footer-bodys h6 {
    font-weight: 700;
}

.footer-bodys ul {
    list-style: none;
}

.footer-bodys ul li {
    padding-bottom: 5px;
}